body {
	background-color: green;
}


h1 {
	text-align: center;
	background-color: #FFF;
	padding: 20px;
}


button {
	padding: 30px 30px;
	margin-bottom: 15px;
}

ul {
	list-style-type: none;
	padding: 0;
}
.column {
	float: left;
	margin: 0 20px 0 0;
	text-align: left;
	background-color: #FFF;
	padding: 5px 15px;
}

